<h2>Panel administracyjny</h2>

<div>
    <a asp-controller="Order" asp-action="ListOfOrders" class="btn btn-danger navbar-btn" style="margin-left:5px">
        <i class="fas fa-box"></i>  Zarządzaj zamówieniami
    </a>
    <br />
    <a asp-controller="Administration" asp-action="ManageProducts" class="btn btn-danger navbar-btn" style="margin-left:5px">
        <i class="fas fa-book"></i>  Zarządzaj produktami
    </a>
    <br />
    <a asp-controller="Administration" asp-action="ManageUsers" class="btn btn-danger navbar-btn" style="margin-left:5px">
        <i class="fas fa-users"></i>  Zarządzaj uzytkownikami
    </a>
    <br />
    <a asp-controller="Administration" asp-action="ManageComments" class="btn btn-danger navbar-btn" style="margin-left:5px">
        <i class="fas fa-comments"></i>  Zarządzaj komentarzami
    </a>
</div>