
@{
    ViewData["Title"] = "Default";
}

<br>
<a asp-controller="Account" asp-action="Login" asp-route-category="">
    <button type="button" class="btn btn-secondary btn-block">Zaloguj się</button>
</a>
<br>