@model AppUser
@{
    ViewData["Title"] = "Default";
}

<div>Witaj @Model.Email</div>
<br>
<a asp-controller="Account" asp-action="Logout" asp-route-category="">
    <button type="button" class="btn btn-secondary btn-block">Wyloguj się</button>
</a>
<br>